---
layout: page
---

<!-- Html Elements for Search -->
<input type="text" id="search-input" placeholder="Search..." class="search-bar">
<br>
<br>
<ul id="results-container"></ul>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>
			END
				<h3 id="tagname">End</h3>
			</th>
			<td>
			Signals the end of command tags. Terminates the parser immediately.
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>VEQ - Variable Equal</th>
			<td>
			If the unsigned byte at <b>TagData + 4</b> is not equal to 1, the next tag will be skipped.</br>
			<b>Argument #1:</b> <i>u8</i> Value
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>VNE - Variable Not Equal</th>
			<td>
			If the unsigned byte at <b>TagData + 4</b> is equal to 1, the next tag will be skipped</br>
			<b>Argument #1:</b> <i>u8</i> Value
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>GID - Game ID</th>
			<td>
			The ID of the game. Can be anything.</br>
			<b>Argument #1:</b> <i>char[]</i> GameId
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>GNM - Game Name</th>
			<td>
			The name of the game. Can be anything.</br>
			<b>Argument #1:</b> <i>char[]</i> GameName
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>CPN - Copy Name</th>
			<td>
			The name of the game's save data. Can be anything.</br>
			<b>Argument #1:</b> <i>char[]</i> CopyName
			</td>
		</tr>
	</tbody>
</table>
<section>

</section>

<style>
table#cmdtable {
	background-color: #fff;
	overflow-x: hidden;
	width: 100%;
	display: table;
}

table#cmdtable th {
	background-color: #eee;
	display: block;
	width: 100%;
}

table#cmdtable tr, td {
	display: block;
	float: left;
	width: 100%;
}

table#cmdtable tbody {
	width: 100%;
}

<!-- Tag Full Name Header Style -->
#tagname {
	background-color: #fff;
	color: #6761A8;
	display: inline;
	font-size: 0.8em;
}

</style>