---
layout: page
---

<style>
table#cmdtable {
	background-color: #fff;
	overflow-x: hidden;
	width: 100%;
	display: table;
}

table#cmdtable th {
	background-color: #eee;
	display: block;
	width: 100%;
}

table#cmdtable tr, td {
	display: block;
	float: left;
	width: 100%;
}

table#cmdtable tbody {
	width: 100%;
}

</style>

<!-- Html Elements for Search -->
<input type="text" id="search-input" placeholder="Search..." class="search-bar">
<br>
<br>
<ul id="results-container"></ul>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>
			END <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">End</h3>
			</th>
			<td>
			Signals the end of command tags. Terminates the parser immediately.
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>VEQ <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Variable Equal</h3></th>
			<td>
			If the boolean at <b>TagData + 4</b> is not <font color="#cc0066">true</font>, the next tag will be skipped.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">bool</font></i> Enabled
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>VNE <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Variable Not Equal</h3></th>
			<td>
			If the boolean at <b>TagData + 4</b> is equal to <font color="#cc0066">true</font>, the next tag will be skipped</br>
			<b>Argument #1:</b> <i><font color="#cc0066">bool</font></i> Enabled
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>GID <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game ID</h3></th>
			<td>
			The ID of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameId
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>GNM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game Name</h3></th>
			<td>
			The name of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameName
			</td>
		</tr>
	</tbody>
</table>
<table id="cmdtable">
	<tbody>
		<tr>
			<th>CPN <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Copy Name</h3></th>
			<td>
			The name of the game's save data. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> CopyName
			</td>
		</tr>
	</tbody>
</table>
<section>

</section>