---
layout: page
---

<style>
table#cmdtable {
	background-color: #fff;
	overflow-x: hidden;
	width: 100%;
	display: table;
}

table#cmdtable th {
	background-color: #eee;
	display: block;
	width: 100%;
}

table#cmdtable tr, td {
	display: block;
	float: left;
	width: 100%;
}

table#cmdtable tbody {
	width: 100%;
}

</style>

<div text-align="center" align="center" style="width:90%; left:5%; position:relative;">
NES Tags are commands used by the NES Emulator in N64 & GC Animal Crossing games.</br>
They tell the emulator to set specific settings for the ROM that is being loaded.</br>
This page contains a list of all tags with a description and argument list for each one.</br>
</div>
</br>

<!-- Html Elements for Search -->
<input type="text" id="search-input" placeholder="Search..." onkeyup="search()" class="search-bar">
<br>
<table name="end" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>
			END <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">End</h3>
			</th>
			<td>
			Signals the end of command tags. Terminates the parser immediately.
			</td>
		</tr>
	</tbody>
</table>
<table name="veq" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>VEQ <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Variable Equal</h3></th>
			<td>
			If the boolean <b>Enabled</b> is not <font color="#cc0066">true</font>, the next tag will be skipped.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">bool</font></i> Enabled
			</td>
		</tr>
	</tbody>
</table>
<table name="vne" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>VNE <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Variable Not Equal</h3></th>
			<td>
			If the boolean <b>Enabled</b> is <font color="#cc0066">true</font>, the next tag will be skipped</br>
			<b>Argument #1:</b> <i><font color="#cc0066">bool</font></i> Enabled
			</td>
		</tr>
	</tbody>
</table>
<table name="gid" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>GID <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game ID</h3></th>
			<td>
			The ID of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameId
			</td>
		</tr>
	</tbody>
</table>
<table name="gnm" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>GNM <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game Name</h3></th>
			<td>
			The name of the game. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> GameName
			</td>
		</tr>
	</tbody>
</table>
<table name="cpn" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>CPN <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Copy Name</h3></th>
			<td>
			The name of the game's save data. Can be anything.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">char[]</font></i> CopyName
			</td>
		</tr>
	</tbody>
</table>
<table name="ofs" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>OFS <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Offset</h3></th>
			<td>
			Sets the write offset/size used in various other tags.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> Offset
			</td>
		</tr>
	</tbody>
</table>
<table name="hsc" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>HSC <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">High Scores</h3></th>
			<td>
			Tells the emulator that specific area(s) of the ROM should be treated as a high score. If it is the first time loading the game, DefaultValues will be copied starting at CurrentOffset + Offset.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">ushort</font></i> Offset</br>
			<b>Argument #2:</b> <i><font color="#cc0066">char[]</font></i> DefaultValues
			</td>
		</tr>
	</tbody>
</table>
<table name="gno" class="commandtable" id="cmdtable">
	<tbody>
		<tr>
			<th>GNO <h3 style="background-color:#fff; color:#6761A8; margin-left:20px; display:inline; font-size:0.8em;">Game Number</h3></th>
			<td>
			Sets the ROM's game number. This value is used to pull high scores from save data. Limited to between 0 and 31.</br>
			<b>Argument #1:</b> <i><font color="#cc0066">byte</font></i> GameNumber</br>
			</td>
		</tr>
	</tbody>
</table>

<section>

	<script>
	function search() {
		var input = document.getElementById("search-input");
		var filter = input.value.toLowerCase();
		var tagTables = document.getElementsByClassName("commandtable");
		
		for (var i = 0; i < tagTables.length; i++) {
			if (tagTables[i].getAttribute("name").indexOf(filter) !== -1) {
				tagTables[i].style.display = "table";
			}
			else {
				tagTables[i].style.display = "none";
			}
		}
	}
	</script>

</section>